body {
   font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 50px;

    /* Rainbow gradient */
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    background-attachment: fixed; 

    /* Add this to improve text readability */
    color: white;
}

h1 {
    color: #333;
}

/* Visitor counter style */
#visitor-counter {
    font-weight: bold;
    color: #28a745; /* A new color for this counter */
}

/* Click counter style */
#click-counter {
    font-weight: bold;
    color: #007bff;
}

#click-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    margin-top: 20px;
}

#click-button:hover {
    background-color: #0056b3;
}